{% extends 'base.html' %}


{% load static %}

{% block body %}

<div class="social-icons position-relative">
    <figure class="line">
        <img src="{% static 'assets/images/line-image.png' %}" alt="" class="img-fluid">
    </figure>
    <ul class="list-unstyled mb-0 position-absolute">
        <li><a href="https://www.facebook.com/profile.php?id=100088716128424" class="text-decoration-none"><i class="fa-brands fa-facebook social-networks"></i></a></li>
        <!-- <li><a href="https://www.instagram.com/merakihomz_blr/" class="text-decoration-none"><i class="fa-brands fa-twitter social-networks"></i></a></li> -->
        <li><a href="https://www.instagram.com/merakihomz_blr/" class="text-decoration-none"><i class="fa-brands fa-instagram social-networks"></i></a></li>
        <li><a href="https://www.linkedin.com/company/meraki-homz/" class="text-decoration-none"><i class="fa-brands fa-linkedin social-networks"></i></a></li>
    </ul>
</div>
<section class="banner-section">
    <figure class="banner-backgroundimage mb-0">
        <img src="{% static 'assets/images/banner-backgroundimage.png' %}" alt="" class="img-fluid">
    </figure>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6 col-lg-8 col-md-12 col-sm-12 col-12">                    
                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="banner_content">
                            <div class="content">
                                <p>OUR EXPERTISE FOR</p>
                                <h2>INTERIOR DESIGN</h2>
                                
                                <div class="discover-button">
                                    <a class="discover_more text-decoration-none" href="{% url 'webapp:about' %}">Discover More</a>
                                    <a class="image-button text-decoration-none" href="{% url 'webapp:about' %}">
                                        <figure class="arrow mb-0">
                                            <img src="{% static 'assets/images/arrow.png' %}" alt="" class="img-fluid">
                                        </figure>
                                    </a> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="banner_content">
                            <div class="content">
                                <p>FEATURED PROJECT</p>
                                <h2>GREEN INTERIOR</p>
                                <div class="discover-button">
                                    <a class="discover_more text-decoration-none" href="{% url 'webapp:product' %}">Discover More</a>
                                    <a class="image-button text-decoration-none" href="{% url 'webapp:product' %}">
                                        <figure class="arrow mb-0">
                                            <img src="{% static 'assets/images/arrow.png' %}" alt="" class="img-fluid">
                                        </figure>
                                    </a> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="banner_content">
                            <div class="content">
                                <p>INTERIOR REMODELING TO MAKES</p>
                                <h2>YOUR LIFE EASIER</h2>
                                <div class="discover-button">
                                    <a class="discover_more text-decoration-none" href="{% url 'webapp:post_list' %}">Discover More</a>
                                    <a class="image-button text-decoration-none" href="{% url 'webapp:post_list' %}">
                                        <figure class="arrow mb-0">
                                            <img src="{% static 'assets/images/arrow.png' %}" alt="" class="img-fluid">
                                        </figure>
                                    </a> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-4 col-md-12 col-sm-12 col-12 d-lg-block d-none">
            </div>
        </div>
    </div>
</section>
</div>
<!-- Services -->
<section class="service-section">
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="service_content" data-aos="fade-right">
                <h6>What We Do</h6>
                <h2>Our Highlighted Services for Interior Designs</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
            <div class="box-content">
                <div class="upper_portion">
                    <figure class="image mb-0">
                        <img src="{% static 'assets/images/service-image1.png' %}" class="article_img" alt="">
                    </figure>
                   
                </div>
                <div class="lower_portion_wrapper">
                    <div class="lower_portion">
                        <h5 class="text-white">Interior Design</h5>
                        <p class="text-size-16">Meraki strives to provide top-notch residential interior solutions. We specialize in providing end-to-end services..</p>
                        <a class="read_more text-decoration-none" href="{% url 'webapp:product' %}">Read More
                            <i class="fa-solid fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
            <div class="top-space">
                <div class="box-content">
                    <div class="upper_portion">
                        <figure class="image mb-0">
                            <img src="{% static 'assets/images/servicepage-image2.png' %}" class="article_img" alt="">
                        </figure>
                        
                    </div>
                    <div class="lower_portion_wrapper">
                        <div class="lower_portion">
                            <h5 class="text-white">Renovation Design</h5>
                            <p class="text-size-16">Does your home feel outdated and lack sufficient space? If yes, we've got a fantastic idea for you: go for a home renovation today..</p>
                            <a class="read_more text-decoration-none" href="{% url 'webapp:product' %}">Read More
                                <i class="fa-solid fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>                
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
            <div class="box-content">
                <div class="upper_portion">
                    <figure class="image mb-0">
                        <img src="{% static 'assets/images/service-image3-new.png' %}" class="article_img" alt="">
                    </figure>
                   
                </div>
                <div class="lower_portion_wrapper">
                    <div class="lower_portion">
                        <h5 class="text-white">Soft Furnishing</h5>
                        <p class="text-size-16">Lighting and soft furnishing adds the right amount of wow factor in your interiors. You are born to shine and so does your interior..</p>
                        <a class="read_more text-decoration-none" href="{% url 'webapp:product' %}">Read More
                            <i class="fa-solid fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
                
    </div>
    <div class="explore-button">
        <a class="explore text-decoration-none" href="{% url 'webapp:product' %}">Explore All Services</a>
        <a class="image-button text-decoration-none" href="{% url 'webapp:product' %}">
            <figure class="arrow mb-0">
                <img src="{% static 'assets/images/arrow.png' %}" alt="" class="img-fluid">
            </figure>
        </a> 
    </div>
</div>
</section>
<!-- About us -->
<section class="about-section">
<figure class="light-image mb-0">
    <img src="{% static 'assets/images/top-lightimage.png' %}" alt="" class="img-fluid">
</figure>
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 col-12 order-md-1 order-2">
            <div class="about_wrapper">
                <figure class="about-image1 mb-0" data-aos="fade-up">
                    <img src="{% static 'assets/images/about-image1-new.png' %}" alt="" class="img-fluid">
                </figure>
                <div class="badge c-black" id="badge">
                    <span class="badge__char"> </span>
                    <span class="badge__char badge__char1">.</span>
                    <span class="badge__char"> </span>
                    <span class="badge__char">M</span>
                    <span class="badge__char">E</span>
                    <span class="badge__char">R</span>
                    <span class="badge__char">A</span>	
                    <span class="badge__char">K</span>	
                    <span class="badge__char">I</span>		
                    <span class="badge__char"></span>	
                    <span class="badge__char badge__char1">.</span>	
                    <span class="badge__char"> </span>		
                    <span class="badge__char">H</span>		
                    <span class="badge__char">O</span>		
                    <span class="badge__char">M</span>		
                    <span class="badge__char">Z</span>		
                   <!-- <span class="badge__char"></span>
                    <span class="badge__char"></span>		
                    <span class="badge__char"></span>
                    <span class="badge__char"></span>
                    <span class="badge__char"></span>
                    <span class="badge__char"> </span>
                    <span class="badge__char">-</span>
                    <span class="badge__char"> </span>		
                    <span class="badge__char"></span>		
                    <span class="badge__char">/<span>		
                    <span class="badge__char"></span>		
                    <span class="badge__char"></span>
                    <span class="badge__char"></span>		
                    <span class="badge__char"> </span>
                    <span class="badge__char"></span>
                    <span class="badge__char"></span>
                    <span class="badge__char"></span>		
                    <span class="badge__char"></span>-->
                    <figure class="about-logoimage mb-0">
                        <img src="{% static 'assets/images/about-logoimage-new.png' %}" alt="" class="img-fluid">
                    </figure>
                </div> 
            </div>     
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-12 order-md-2 order-3">
            <div class="about_content" data-aos="fade-right">
                <h6>About Us</h6>
                <h2>WELCOME TO MERAKI HOMZ </h2>
                <h5 class="text-white">Best Interior Designers Architectures for You.</h5>
                <p>Choose your style at your comfort Meraki is a End to End interior design solution company located in bangalore, specialized in residential interior design.
                    Whether you need a quick refresh of furniture, paint or wallpaper or an extensive full house renovation, we can provide the expertise to make sure the project runs smoothly and gives you the best results possible with in your budget.</p>
                <div class="about-button">
                    <a class="read_more text-decoration-none" href="{% url 'webapp:about' %}">Read More</a>
                    <a class="image-button text-decoration-none" href="{% url 'webapp:about' %}">
                        <figure class="arrow mb-0">
                            <img src="{% static 'assets/images/arrow.png' %}" alt="" class="img-fluid">
                        </figure>
                    </a> 
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-12 order-md-3 order-2">
            <div class="about_wrapper">
                <figure class="about-image2 mb-0" data-aos="fade-up">
                    <img src="{% static 'assets/images/about-image2-new.png' %}" alt="" class="img-fluid">
                </figure>
            </div> 
        </div>
    </div>
</div>
</section>
<!-- Process -->
<!-- <section class="process-section">
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="process_content" data-aos="fade-up">
                <h2>OUR FEATURES</h2>
                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-12">
            <div class="box-content">
                <figure class="icon mb-0">
                    <img src="{% static 'assets/images/process-icon1.png' %}" class="img-fluid" alt="">
                </figure>
                <span>01</span>
                <h5 class="text-white">Interior Design</h5>
                <p class="text-size-18 mb-0">Meraki strives to provide top-notch residential interior solutions. We specialize in providing end-to-end services..</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-12">
            <div class="box-content">
                <figure class="icon mb-0">
                    <img src="{% static 'assets/images/process-icon2.png' %}" class="img-fluid" alt="">
                </figure>
                <span>02</span>
                <h5 class="text-white">Renovation Design</h5>
                <p class="text-size-18 mb-0">Does your home feel outdated and lack sufficient space? If yes, we've got a fantastic idea for you: go for a home renovation today..</p>
            </div>               
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-12">
            <div class="box-content">
                <figure class="icon mb-0">
                    <img src="{% static 'assets/images/process-icon3.png' %}" class="img-fluid" alt="">
                </figure>
                <span>03</span>
                <h5 class="text-white">Soft Furnishing</h5>
                <p class="text-size-18 mb-0">Lighting and soft furnishing adds the right amount of wow factor in your interiors. You are born to shine and so does your interior..</p>
            </div>
        </div>         
    </div>
</div> -->
</section>
<!-- Successful work -->
<section class="work-section">
<figure class="light-image mb-0">
    <img src="{% static 'assets/images/top-lightimage.png' %}" alt="" class="img-fluid">
</figure>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="work_content">
                <div class="year">
                    <span class="value counter">10</span>
                    <sup class="mb-0 plus">+</sup>
                </div>
                <h2>Years of Successful Work in Market</h2>
                <div class="discover-button">
                    <a class="discover_more text-decoration-none" href="{% url 'webapp:post_list' %}">Discover More</a>
                    <a class="image-button text-decoration-none" href="{% url 'webapp:post_list' %}">
                        <figure class="arrow mb-0">
                            <img src="{% static 'assets/images/arrow.png' %}" alt="" class="img-fluid">
                        </figure>
                    </a> 
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="work_wrapper">
                <figure class="work-image mb-0" data-aos="fade-right">
                    <img src="{% static 'assets/images/work-image-new.png' %}" alt="" class="img-fluid">
                </figure>
                <figure class="work-imagebackground mb-0" data-aos="fade-up">
                    <img src="{% static 'assets/images/work-imagebackground-new.png' %}" alt="" class="img-fluid">
                </figure>
            </div> 
        </div>
    </div>
</div>
</section>
<!-- Recent work -->
<section class="recentwork-section">
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="recentwork_content" data-aos="fade-up">
                <h6>What’s New</h6>
                <h2>Recent Work We Have Done</h2>
            </div>
        </div>
    </div>
  
    <div class="recentwork-carousel owl-carousel">
        {% for details in work_list %}
        <div class="item">

           
            <div class="image">
                <figure class="recentwork-image mb-0">
                    <img src="{{details.category_image.url}}" class="img-fluid" alt="">
                </figure>
                <div class="box-content">
                    <div class="content">
                        <span class="text-white text-size-16">{{details}} Design</span>
                       <!--- <h4 class="text-white">Kawa - Glamorous Penthouse</h4> -->
                        <a class="text-decoration-none" href="{% url 'webapp:our_work' %}">
                            <figure class="arrow mb-0">
                                <img src="{% static 'assets/images/arrow.png' %}" alt="" class="img-fluid">
                            </figure>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        
    </div>
</div>
</section>
<!-- Testimonial -->
<section class="testimonial-section">
<figure class="light-image mb-0">
    <img src="{% static 'assets/images/top-lightimage.png' %}" alt="" class="img-fluid">
</figure>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="testimonial_content" data-aos="fade-right">
                <h6>Testimonials</h6>
                <!--<h2>Trusted By Over 30,000 Worldwide Customers Since 1998</h2> -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="owl-carousel owl-theme">
           
          
            {% for details in testimonials %}
            <div class="item">
                <div class="box">
                                
                    <div class="box-content">
                        <p class="text-size-18">
                            {{details.content}}
                          </p>
                        <ul class="list-unstyled mb-0">
                            <li><a href=""><i class="fa-solid fa-star"></i></a> </li>
                            <li><a href=""><i class="fa-solid fa-star"></i></a> </li>
                            <li><a href=""><i class="fa-solid fa-star"></i></a> </li>
                            <li><a href=""><i class="fa-solid fa-star"></i></a> </li>
                            <li><a href=""><i class="fa-solid fa-star"></i></a> </li>
                        </ul>
                        <div class="lower-portion">
                            <span class="text-white text-size-16">{{details.name}}</span>
                            <span class="text-size-14">Happy Customer</span>
                            <figure class="quote-image mb-0">
                                <img src="{{details.image.url}}" class="img-fluid" alt="">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            
        </div>
    </div>
</div>
</section>
<!-- Journey -->
<section class="journey-section">
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="journey_content" data-aos="fade-right">
                <h6>Work With Us</h6>
                <h2>Start Your Customer Journey With Us.</h2>
            </div>
            <div class="journey-button">
                <a class="get_started text-decoration-none" href="{% url 'webapp:contact' %}">Get Started</a>
                <a class="image-button text-decoration-none" href="{% url 'webapp:contact' %}">
                    <figure class="arrow mb-0">
                        <img src="{% static 'assets/images/arrow.png' %}" alt="" class="img-fluid">
                    </figure>
                </a> 
            </div>
        </div>
    </div>
</div>
</section>
<!-- Blog -->
<section class="blog-section">
<figure class="light-image mb-0">
    <img src="{% static 'assets/images/top-lightimage.png' %}" alt="" class="img-fluid">
</figure>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="blog_content" data-aos="fade-up">
                
                <h2>Our Recent products</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="carousel-content">
            <div class="carousel-outer">
                <div class="owl-carousel owl-theme">

             {% for details in product_list %} 

                    <div class="item">
                        <div class="image">
                            <figure class="mb-0">
                                <img src="{{details.image.url}}" class="img-fluid" alt="">
                            </figure>
                            <div class="box-content">
                                <span class="text-size-16">{{details.created_at.date}}</span>
                                <h5 class="text-white">{{details.category_name}}</h5>
                               <!-- <p class="text-size-18 mb-0">Debitis aut rerum nec sitatoe bus saerue eveniet...</p> -->
                            </div>
                        </div>
                    </div>
                  {% endfor %} 
                </div>
            </div>
        </div>
    </div>
</div>
</section>


{% endblock body %}