{% extends 'base.html' %}


{% load static %}

{% block body %}



<section class="banner-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5 col-md-12 col-sm-12 col-12 order-lg-1 order-2 banner-column">
                <div class="banner_content" data-aos="fade-left">
                    <div class="content">
                        <h1>Blogs</h1>
                        
                       <!-- <div class="box">
                            <span class="mb-0">Home</span>
                            <span class="mb-0 dash">-</span>
                            <span class="mb-0 box_span">Single Blog</span>
                        </div>-->
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-12 col-sm-12 col-12 order-lg-2 order-1">
                <div class="banner_wrapper">
                    <figure class="sub-bannerimage mb-0" data-aos="fade-up">
                        <img src="{% static 'assets/images/post_detail-bannerimage-new.png' %}" alt="" class="img-fluid">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
<!-- Single Blog -->
<section class="singleblog-section blogpage-section">
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-12 col-sm-12 col-12">
            <div class="main-box">
                <figure class="image1">
                    <img src="{{post_detail.image.url}}" alt="" class="img-fluid">
                </figure>
                <div class="content1">
                    <p>{{post_detail.content}}</p>
                    <h4>{{post_detail.title1}}</h4>
                    <p>{{post_detail.content1}}</p>
                    <h4>{{post_detail.title2}}</h4>
                    <p>{{post_detail.content2}}</p>
                    <h4>{{post_detail.title3}}</h4>
                    <p>{{post_detail.content3}}</p>
                    <h4>{{post_detail.title4}}</h4>
                    <p>{{post_detail.content4}}</p>
                    <h4>{{post_detail.title5}}</h4>
                    <p>{{post_detail.content5}}</p>
                </div>
               <!--- <div class="content1">
                    <h4>Why You Need Virtual Assistant for Your Company</h4>
                    <i class="fa-solid fa-user"></i>
                    <span class="text-size-14 text-mr">By : Admin</span>
                    <i class="mb-0 calendar fa-solid fa-calendar-days"></i>
                    <span class="mb-0 text-size-14">Dec 20,2022</span>
                    <p class="text-size-14">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit 
                        in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt 
                        mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, 
                        eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae.</p>
                </div> -->
          <!--      <div class="content2">
                    <figure class="singleblog-quoteimage">
                        <img src="{% static 'assets/images/singleblog-quoteimage.png' %}" alt="" class="img-fluid">
                    </figure>
                    <p class="mb-0 text-white text-size-18">“Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.xcepteur sint occaecat”</p>
                </div>
                <p class="text text-size-14">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae 
                    ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas.
                </p>
                <div class="content3">
                    <figure class="image1" data-aos="fade-up">
                        <img src="{% static 'assets/images/singleblog-image2.jpg' %}" alt="" class="img-fluid">
                    </figure>
                    <p class="text text-size-14">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae 
                        ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas.
                    </p>
                </div>
                <div class="content4">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="tag">
                                <h5>Releted Tags</h5>
                                <ul class="mb-0 list-unstyled ">
                                    <li><a class="button text-decoration-none" href="#">Assistant</a></li> 
                                    <li><a class="button button2 text-decoration-none" href="#">Advice</a></li>
                                    <li><a class="button button3 text-decoration-none" href="#">Virtual</a></li>                         
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="icon">
                                <h5>Social Share</h5>
                                <div class="social-icons position-absolute">
                                    <ul class="mb-0 list-unstyled ">
                                        <li><a href="#" class="text-decoration-none"><i class="fa-brands fa-linkedin-in social-networks"></i></a></li> 
                                        <li><a href="#" class="text-decoration-none"><i class="fa-brands fa-instagram social-networks"></i></a></li>
                                        <li><a href="#" class="text-decoration-none"><i class="fa-brands fa-facebook-f social-networks"></i></a></li>
                                        <li><a href="#" class="text-decoration-none"><i class="fa-brands fa-twitter social-networks"></i></a></li>                          
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content5">
                    <figure class="singleblog-review1 mb-0">
                        <img src="{% static 'assets/images/singleblog-review1.png' %}" alt="" class="img-fluid">
                    </figure>
                    <div class="content">
                        <h4>Billy wallson</h4>
                        <span class="text-size-16">Senior Director</span>
                        <p class="text-size-14">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut ali,
                        </p>
                    </div>
                </div>
                <div class="content6">
                    <h4>2 Comments</h4>
                    <div class="comment">
                        <div class="image" data-aos="flip-left"><img alt="" src="{% static 'assets/images/singleblog-review2.png' %}" class="avatar"></div>
                        <div class="content">
                            <h5>Roseanne Williams</h5>
                            <span class="text-size-14">Dec 29, 2022</span>
                            <a class="reply text-decoration-none" href="#">Reply</a>
                            <div class="text_holder">
                                <p class="text-size-14">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="comment">
                        <div class="image" data-aos="flip-left"><img alt="" src="{% static 'assets/images/singleblog-review3.png' %}" class="avatar"></div>
                        <div class="content">
                            <h5>Samantha Nicolan</h5>
                            <span class="text-size-14">Dec 29, 2022</span>
                            <a class="reply text-decoration-none" href="#">Reply</a>
                            <div class="text_holder">
                                <p class="text-size-14">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content7">
                    <h4>Leave a Comment</h4>
                    <form id="blogpage" method="POST">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group mb-0"> 
                                    <textarea class="form_style" placeholder="Enter your comment here..." rows="3" name="msg"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group mb-0"> 
                                    <input type="text" class="form_style" placeholder="Your name" name="name">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group mb-0">
                                    <input type="email" class="form_style" placeholder="Your e-mail" name="emailid">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group mb-0">
                                    <input type="text" class="form_style text-mb" placeholder="Your topic" name="topic">
                                </div>
                            </div>
                        </div>
                        <div class="button text-center">
                            <button type="submit" class="post_comment">Post Comment</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-12 column">
            <div class="box1">
                <h5>Search News</h5>
                <form method="POST">
                    <div class="form-row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <input type="text" name="search" id="search" class="form-control upper_layer" placeholder="Search Here...">
                            <div class="input-group-append form-button">
                                <button class="btn search" name="btnsearch" id="searchbtn"><i class="fa-solid fa-magnifying-glass"></i></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="box1 box2">
                <h5>Popular Category</h5>
                <ul class="list-unstyled mb-0">
                    <li class="text-size-16">Digital business</li>
                    <li class="text-size-16">Business Consulting</li>
                    <li class="text-size-16">Consulting</li>
                    <li class="mb-0 text-size-16">Business & Finance</li>
                </ul>
            </div>
            <div class="box1 box3">
                <h5>Follow Us</h5>
                <div class="social-icons">
                    <ul class="mb-0 list-unstyled">
                        <li><a href="#" class="text-decoration-none"><i class="fa-brands fa-linkedin-in social-networks"></i></a></li> 
                        <li><a href="#" class="text-decoration-none"><i class="fa-brands fa-instagram social-networks"></i></a></li>
                        <li><a href="#" class="text-decoration-none"><i class="fa-brands fa-facebook-f social-networks"></i></a></li>
                        <li><a href="#" class="text-decoration-none"><i class="fa-brands fa-twitter social-networks"></i></a></li>                          
                    </ul>
                </div>
            </div>
            <div class="box1 box4">
                <h5>Tags</h5>
                <ul class="tag mb-0 list-unstyled">
                    <li><a class="button text-decoration-none" href="#">Assistant</a></li>
                    <li><a class="button button2 text-decoration-none" href="#">Advice</a></li>
                    <li><a class="button button3 text-decoration-none" href="#">Virtual</a></li>
                    <li><a class="button button4 text-decoration-none" href="#">Designer</a></li>
                    <li><a class="button button5 text-decoration-none" href="#">Blog</a></li>
                    <li><a class="button button6 text-decoration-none" href="#">Support</a></li>
                    <li><a class="button button7 text-decoration-none" href="#">Finance</a></li>
                    <li><a class="button button8 text-decoration-none" href="#">Projects</a></li>
                </ul>
            </div>
            <div class="box1 box5">
                <h5>Feeds</h5>
                <div class="feed">
                    <figure class="feed-image mb-0" data-aos="fade-up">
                        <img src="{% static 'assets/images/singleblog-feed1.jpg' %}" alt="" class="img-fluid">
                    </figure>
                    <a href="#" class="mb-0">Why You Need Virtual Assistant for Your Company</a>
                </div>
                <div class="feed">
                    <figure class="feed-image mb-0" data-aos="fade-up">
                        <img src="{% static 'assets/images/singleblog-feed2.jpg' %}" alt="" class="img-fluid">
                    </figure>
                    <a href="#" class="mb-0">Why You Need Virtual Assistant for Your Company</a>
                </div>
                <div class="feed">
                    <figure class="feed-image mb-0" data-aos="fade-up">
                        <img src="{% static 'assets/images/singleblog-feed3.jpg' %}" alt="" class="img-fluid">
                    </figure>
                    <a href="#" class="mb-0">Why You Need Virtual Assistant for Your Company</a>
                </div>
                <div class="feed feed4">
                    <figure class="feed-image mb-0" data-aos="fade-up">
                        <img src="{% static 'assets/images/singleblog-feed4.jpg' %}" alt="" class="img-fluid">
                    </figure>
                    <a href="#" class="mb-0">Why You Need Virtual Assistant for Your Company</a>
                </div>
            </div>
        </div> -->
    </div>
</div>
</section>
<!-- Testimonial -->
<section class="testimonial-section">
<figure class="light-image mb-0">
    <img src="{% static 'assets/images/top-lightimage.png' %}" alt="" class="img-fluid">
</figure>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="testimonial_content" data-aos="fade-right">
                <h6>Testimonials</h6>
                <!--<h2>Trusted By Over 30,000 Worldwide Customers Since 1998</h2> -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="owl-carousel owl-theme">
           
          
            {% for details in testimonials %}
            <div class="item">
                <div class="box">
                   <!-- <div class="image">
                        <figure class="testimonial-image1 mb-0">
                            <img src="{{details.image.url}}" alt="" class="img-fluid">
                        </figure>                    
                        <figure class="testimonial-image2 mb-0">
                            <img src="{{details.image.url}}" alt="" class="img-fluid">
                        </figure>                    
                        <figure class="testimonial-image3 mb-0">
                            <img src="{% static 'assets/images/testimonial-5.png' %}" alt="" class="img-fluid">
                        </figure>                    
                        <figure class="testimonial-image4 mb-0">
                            <img src="{% static 'assets/images/testimonial-3.png' %}" alt="" class="img-fluid">
                        </figure>
                        <figure class="testimonial-image5 mb-0">
                            <img src="{% static 'assets/images/testimonial-4.png' %}" alt="" class="img-fluid">
                        </figure>
                        <figure class="quote-icon mb-0">
                            <img src="{% static 'assets/images/quote-icon.png' %}" class="img-fluid" alt="">
                        </figure>
                    </div>     -->               
                    <div class="box-content">
                        <p class="text-size-18">
                            {{details.content}}
                          </p>
                        <ul class="list-unstyled mb-0">
                            <li><a href=""><i class="fa-solid fa-star"></i></a> </li>
                            <li><a href=""><i class="fa-solid fa-star"></i></a> </li>
                            <li><a href=""><i class="fa-solid fa-star"></i></a> </li>
                            <li><a href=""><i class="fa-solid fa-star"></i></a> </li>
                            <li><a href=""><i class="fa-solid fa-star"></i></a> </li>
                        </ul>
                        <div class="lower-portion">
                            <span class="text-white text-size-16">{{details.name}}</span>
                            <span class="text-size-14">Happy Customer</span>
                            <figure class="quote-image mb-0">
                                <img src="{{details.image.url}}" class="img-fluid" alt="">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            
        </div>
    </div>
</div>
</section>




{% endblock body %}